@import '~@angular/material/theming';
@import url(~fullpage.js/dist/fullpage.min.css);
@import "variables";

// Updating the fonts for all of Angular Material
$custom-typography: mat-typography-config(
  $font-family: $serif-font
);
@include angular-material-typography($custom-typography);


//
// Global styling
//

.accent-outlined {
  padding: 20px;
  border-radius: 10px;
  border: 2px solid $accent;
}

.call-to-action-header {
  color: $primary;
  font-family: $serif-font;
}

.journal-section-container {
  font-family: $handwriting-font;
  color: white;
  position: absolute;
  top: 0;
  left: 40px;
  right: 40px;
  bottom: 0;

  .journal-header {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    user-select: none;
    margin-bottom: 10px;
  }

  .journal-sub-header {
    font-weight: 200;
    font-size: 24px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    user-select: none;
  }
}

#fp-nav {
  transition: top;
  transition-duration: 500ms;
}
