<section>
  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="loginForm"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px">
    <mat-form-field>
      <input
        formControlName="email"
        matInput
        placeholder="Your email"
        type="email">
      <mat-hint>Please enter a valid email.</mat-hint>
      <mat-error>Invalid or missing email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        formControlName="password"
        matInput
        placeholder="Your password"
        type="password">
      <mat-hint>Please enter your password.</mat-hint>
      <mat-error>Missing password.</mat-error>
    </mat-form-field>

    <!-- Submit -->
    <button *ngIf="!(isLoading$ | async)"
            [disabled]="loginForm.invalid"
            color="primary"
            mat-raised-button
            type="submit">
      Submit
    </button>

    <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
  </form>
</section>
