<div fxLayout="column"
     fxFlex
     fxLayoutAlign="space-between start">
  <mat-nav-list>
    <a mat-list-item routerLink="/signup" (click)="onClose()">
      <mat-icon>face</mat-icon>
      <span>Signup</span>
    </a>
    <a mat-list-item routerLink="/login" (click)="onClose()">
      <mat-icon>account_circle</mat-icon>
      <span>Login</span>
    </a>
    <a mat-list-item routerLink="/history" (click)="onClose()">
      <mat-icon>history</mat-icon>
      <span>History</span>
    </a>
    <a mat-list-item routerLink="/today" (click)="onClose()">
      <mat-icon>star</mat-icon>
      <span>Today</span>
    </a>
  </mat-nav-list>

  <button mat-button
          class="sidenav-logout-button" (click)="onClose()">
    <mat-icon>eject</mat-icon>
    <span>Logout</span>
  </button>
</div>
