<section fxLayout="column"
         fxLayoutAlign="start center"
         id="journal-container">

  <h2 *ngIf="journalService.todayJournalEntry"
      id="journal-name-header">
    {{journalService.todayJournalEntry.id}}
  </h2>

  <!-- Mood -->
  <app-mood></app-mood>

  <!--  <h4 class="journal-header">Reading</h4>-->

  <!--  <h4 class="journal-header">Studying</h4>-->

  <!--  <h4 class="journal-header">Exercise</h4>-->

  <!--  <h4 class="journal-header">Work</h4>-->

  <h4 class="journal-header">Journal</h4>
  <quill-editor #editor
                (onContentChanged)="onJournalUpdated($event)"
                [(ngModel)]="journalService.todayJournalEntry.journalEntry">
  </quill-editor>

</section>
