@import "src/app/styles/variables";
@import "src/app/styles/styles";

#journal-name-header {
  font-family: $handwriting-font;
  text-align: center;
  color: $accent;
  user-select: none;
  margin-bottom: 0;
}

#journal-container {

  quill-editor {
    width: 100%;
    max-width: 550px;
    margin: 0 auto 0 auto;
  }
}




