<mat-toolbar color="primary">
  <div>
    <button fxHide.gt-xs
            mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <!-- Logo -->
  <div class="header-logo">
    <a routerLink="{{isAuth ? '/today' : '/'}}">{{title}}</a>
  </div>

  <!-- Navigation Items -->
  <div fxHide.xs
       fxFlex fxLayout fxLayoutAlign="end">
    <ul fxLayout fxLayoutGap="10px" class="nav-links">
      <li *ngIf="!isAuth"><a routerLink="/signup">Signup</a></li>
      <li *ngIf="!isAuth"><a routerLink="/login">Login</a></li>
      <li *ngIf="isAuth"><a routerLink="/today">Today</a></li>
      <li *ngIf="isAuth"><a routerLink="/history">History</a></li>
      <li><a (click)="authService.logout()">Logout</a></li>
    </ul>
  </div>
</mat-toolbar>
