<mat-toolbar color="primary">
  <div>
    <button (click)="onToggleSidenav()"
            fxHide.gt-xs mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <!-- Logo -->
  <div class="header-logo">
    <a routerLink="{{(isAuth$ | async) ? '/today' : '/'}}">{{title}}</a>
  </div>

  <!-- Navigation Items -->
  <div fxFlex
       fxHide.xs fxLayout fxLayoutAlign="end">
    <ul class="nav-links" fxLayout fxLayoutGap="10px">
      <li *ngIf="!(isAuth$ | async)"><a routerLink="/signup">Signup</a></li>
      <li *ngIf="!(isAuth$ | async)"><a routerLink="/login">Login</a></li>
      <li *ngIf="isAuth$ | async"><a routerLink="/today">Today</a></li>
      <li *ngIf="isAuth$ | async"><a routerLink="/history">History</a></li>
      <li *ngIf="isAuth$ | async"><a (click)="authService.logout()">Logout</a></li>
    </ul>
  </div>
</mat-toolbar>
