<section class="accent-outlined">
  <form #form="ngForm"
        (ngSubmit)="onSubmit(form)"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="10px"
        id="signup-form">

    <!-- Email -->
    <mat-form-field>
      <input #emailInput="ngModel"
             email
             matInput
             name="email"
             ngModel
             placeholder="Your email"
             required
             type="email">
      <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty.</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">Invalid email</mat-error>
    </mat-form-field>

    <!-- Password -->
    <mat-form-field>
      <input #passwordInput="ngModel"
             matInput
             minlength="6"
             name="password"
             ngModel
             placeholder="Your password"
             required
             type="password">
      <mat-hint *ngIf="passwordInput.value?.length < 6"
                align="start">
        Must be at least 6 characters.
      </mat-hint>
      <mat-hint [ngStyle]="{'color': passwordInput.valid ? 'green' : 'inherit'}"
                align="end">
        {{passwordInput.value?.length}} / 6 {{passwordInput.valid ? '💪' : ''}}
      </mat-hint>
    </mat-form-field>

    <mat-checkbox color="primary"
                  name="agree"
                  ngModel
                  required>
      I agree to accomplish all my goals
    </mat-checkbox>

    <!-- Submit -->
    <button *ngIf="!(isLoading$ | async)"
            [disabled]="form.invalid"
            color="primary"
            mat-raised-button
            type="submit">
      Submit
    </button>

    <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
  </form>
</section>
