@import "src/app/styles/variables";
@import "src/app/styles/styles";

mat-slider {
  margin: 0 auto 0 auto;
  width: 300px;
  z-index: 2;
}

.mood-image-container {
  height: 300px;
  width: 300px;
  animation: bouncingAnimation 3s infinite 0s ease-in-out;

  .mood-image {
  }
}

@keyframes bouncingAnimation {
  0% {
    transform: rotate(0deg) scale(1);
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, .5));
  }
  21% {
    transform: rotate(6deg) scale(1.2);
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .5));
  }
  50% {
    transform: rotate(0deg) scale(1);
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, .5));
  }
  66% {
    transform: rotate(-6deg) scale(1.2);
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .5));
  }

  100% {
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, .5));
  }
}
