@import "src/app/styles/variables";
@import "src/app/styles/styles";

#mood-header {
  position: relative;
}

.header-emoji {
  position: absolute;
  right: 96px;
  font-size: 26px;
  margin-top: -7px;
}

mat-slider {
  width: 300px;
}
