<section class="journal-section-container"
         fxLayout="column"
         fxLayoutAlign="center center">
  <h1 class="journal-header" id="mood-header">
    Mood
  </h1>
  <h4 class="journal-sub-header">Tracking your mood on a daily basis can reveal trends which
    help you live your happiest life.</h4>

  <mat-slider #moodSlider
              (input)="onMoodLevelChange(moodSlider.value)"
              max="5"
              thumbLabel
              tickInterval="1">
  </mat-slider>

  <div class="mood-image-container">
    <ng-container *ngFor="let _number of [1, 2, 3, 4, 5]">
      <img *ngIf="mood === _number"
           alt="Mood Image {{_number}}"
           class="mood-image"
           src="assets/moods/mood-{{_number}}.svg">
    </ng-container>
  </div>

</section>
