<section class="journal-section-container"
         fxLayout="column"
         fxLayoutAlign="center center">
  <h1 class="journal-header" id="mood-header">
    Mood
  </h1>
  <h4 class="journal-sub-header">Tracking your mood on a daily basis can help reveal trends which
    help you live your happiest life.</h4>

    <div class="emoji-container">
    <span *ngFor="let mood of moodList"
          [@animState]="mood.state"
          class="emoji">{{mood.emoji}}</span>
    </div>

  <mat-slider #moodSlider
              (input)="onMoodLevelChange(moodSlider.value)"
              [max]="moodList.length - 1"
              [value]="journalService.todayJournalEntry?.mood"
              min="0"
              thumbLabel
              tickInterval="1">
  </mat-slider>
</section>

<!--<h4 class="journal-header"-->
<!--    id="mood-header">Mood-->
<!--  <span *ngFor="let mood of moodList"-->
<!--        [@animState]="mood.state"-->
<!--        class="header-emoji">{{mood.emoji}}</span>-->
<!--</h4>-->
<!--<mat-slider #moodSlider-->
<!--            (input)="onMoodLevelChange(moodSlider.value)"-->
<!--            [max]="moodList.length - 1"-->
<!--            [value]="journalService.todayJournalEntry?.mood"-->
<!--            min="0"-->
<!--            thumbLabel-->
<!--            tickInterval="1">-->
<!--</mat-slider>-->
