@import "src/app/styles/variables";
@import "src/app/styles/styles";

mat-slider {
  margin: 0 auto 0 auto;
  width: 300px;
}

.emoji-container {
  height: 200px;
  position: relative;

  .emoji {
    position: absolute;
    font-size: 160px;
    user-select: none;
    left: -90px;
  }
}
