@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "src/app/styles/styles";
@import "src/app/styles/variables";

html, body {
   height: 100%;
 }

body {
  margin: 0;
  font-family: $serif-font;
}
